* {
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

button {
  border-color: purple;
  width: 20vw;
  padding: 20px;
  color: purple;
  background-color: white;
  transition: background 0.2s ease-in, transform 0.2s 0.1s ease-in-out,
    border-radius 0.2s 0.2s ease-in;
}

button:hover {
  border-radius: 10px;
  border-color: grey;
  transform: scale(1.05);
  background-color: purple;
  color: white;
}

.boxCont {
  width: 100vw;
  height: 40vh;
}
